#!/bin/bash

[Unit]
Description=Run the weatherFile to get the current weather

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
